<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Yourself.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>441B4C1B1EBAE38300C5A90B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4428B5781ED4B6B70007DD70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4428B5881ED4CF970007DD70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4428B5961ED4CFCD0007DD70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
